<html xmlns:th="https://www.thymeleaf.org">
<head><title th:text="${fileName}">File</title>
    <style type="text/css">
   .header {
    font-size: 24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2b4c8c;
   }


    </style>
</head>
<body>
<h1>Table of content</h1>

<ul th:fragment="fragment_node(tableOfContent)" th:unless="${#lists.isEmpty(tableOfContent)}" >
    <li th:each="string : ${tableOfContent}" th:inline="text">
        <a
                th:text="${string.getLine()}"
                th:href="'/'+${filename}+@{/section/{id}(id=${string.getId()})}"
                class="header"> test </a>
        <ul th:replace="this::fragment_node(${string.getChildrenSections()})"></ul>
    </li>
</ul>

<h3 th:text="'For lines access use address /filename/line/lineId where lineId from 1 to '+${countLines}">
    Information
</h3>


</body>
</html>